#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
    display: flex;
}

#actors img{
  width: 80%;
}
#related {
    margin: 24px 16px 0 0;
}

.related {
 width: 51.5%;
}